---
import Layout from '../layouts/ProjectPage.astro';
import ResponsivePDF from '../components/ResponsivePDF.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 20 2024')}
	heroImage="/Profile_Picture.jpg"
	sortNumber={0}
>
	I'm Mads Wolf Jespersen, a software developer for <a href="https://www.cvation.com/"> cVation</a>, but by night i tinker with everything from IOT and robotics to React and WebGPU in projects that can be found <a href="/projects">here</a>.
	On this page there is a bit more detailed info about me, such as my CV and other miscelaneous info.
	<br/>
	<br/>
	I studied software development at the IT-univerity of Copenhagen where i specialized in robotics.
	I love the electromechanical parts of robotics, as well as the designing and 3D modeling.
	This ended up being a big hobby of mine with a 3D printer, where i design everything from macro keyboards, to minor electromechanical machines to automate tasks.
	<br/>
	<br/>
	Even thought i specialized in Robotics, i also took courses on Devops and Graphics programming, which are also big interests of mine.
	Devops is mostly something i explore at my job, but also in my project <a href="/projects/memeapi">MemeApi</a> where i run a psudou reddit clone.
	Graphics programming is something i explore in one of my courses where i implemented <a href="/projects/graphicsprogramming/">Parallax Occlusion mapping</a>, and in a rust based project with <a href="/projects/webgpu/">WebGPU</a>.
	<br/>
	<br/>
	My CV can be seen below.

	<ResponsivePDF src="/cv.pdf" />
</Layout>