---
import Layout from '../layouts/ProjectPage.astro';
import ResponsivePDF from '../components/ResponsivePDF.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 20 2024')}
	heroImage="/Profile_Picture.jpg"
	sortNumber={0}
>
I am Mads Wolf Jespersen, a software developer for <a href="https://www.cvation.com/">cVation</a>, but by night, I tinker with everything from IoT and robotics to React and WebGPU in projects that can be found <a href="/projects">here</a>.
On this page, there is a bit more detailed information about me, such as my CV, interests, and other miscellaneous info.
<br/>
<br/>

I studied software development at the IT University of Copenhagen, where I specialized in robotics. I love the electromechanical parts of robotics, as well as the designing and 3D modeling. 
This ended up becoming a big hobby of mine with a 3D printer, where I design everything from macro keyboards to minor electromechanical machines to automate tasks.
<br/>
<br/>

Even though I specialized in robotics, I also took courses on DevOps and graphics programming, which are also big interests of mine. 
DevOps is mostly something I explore at my job, but also in my project <a href="/projects/memeapi">MemeApi</a> where I run a pseudo Reddit clone. 
Graphics programming is something I explore in one of my courses, where I implemented <a href="/projects/graphicsprogramming/">Parallax Occlusion Mapping</a>, and in a Rust-based project with <a href="/projects/webgpu/">WebGPU</a>.
<br/>
<br/>

My CV can be seen below.

	<ResponsivePDF src="/cv.pdf" />
</Layout>