---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello!</h1>
			<p>
				Welcome to my personal website! Here you can find info about me, my skills, and the projects that i have made.
				<img src="/Profile_Picture.jpg">

				I'm Mads Wolf Jespersen, a software developer for <a href="https://www.cvation.com/"> cVation</a>, but by night i tinker with everything from IOT and robotics to React and WebGPU in projects that can be found <a href="/projects">here</a>.  
			</p>
		</main>
		<Footer />
	</body>
</html>
