---
// src/components/ResponsivePDF.astro
const { src } = Astro.props;
---

<style>
  .pdf-container {
    width: 100%;
    position: relative;
    padding-bottom: 141.42%; /* Aspect ratio for A4 size */
    display: none;
  }
  .pdf-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  @media (min-width: 769px) {
    .pdf-container {
      display: block;
    }
    .download-link {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .pdf-container {
      display: none;
    }
    .download-link {
      display: block;
    }
  }
</style>

<div>
  <div class="pdf-container">
    <iframe src={src}></iframe>
  </div>
  <a class="download-link" href={src} download>Download PDF</a>
</div>