name: Release
on:
  workflow_run:
    workflows: ["Build"]
    branches: [main]
    types: 
      - completed

    
jobs: 
    build:
  
      runs-on: ubuntu-latest
  
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm ci
      
      - name: Build
        run: npm run build

      - name: Commit new build to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          FOLDER: public
              
